<!--    PROYECTO PROG WEB V_001 -->
{% extends 'joyastkg/base.html' %}
{% load static %} 
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% block contenido %}

<!-- FORMULARIO CONTACTO -->
<div class="container">
    <form action="">
        <div class="row">
            <div class="col-4">
                <img src="{% static 'joyastkg/assets/banner/pexels-coppertist-wu-16124711.jpg' %}" class="img-fluid mt-4"  alt="joya-6">
            </div>
            <div class="col-8">
                <h3 class="mt-4 mb-4">¡Ingresa tus datos para contactarnos contigo!</h3>
                <div class="mb-4">
                    <label class="form-label" for="name">Nombre</label>
                    <input placeholder="Ingrese su nombre" class="form-control" type="text" id="name">
                </div>
                <div class="mb-4">
                    <label class="form-label" for="email">Email</label>
                    <input placeholder="Ingrese su email" class="form-control" type="email" id="email">
                </div>
                <div class="mb-4">
                    <label class="form-label" for="celular">Celular</label>
                    <input placeholder="Ingrese su número de celular" class="form-control" type="celular" id="celular">
                </div>
                <div class="mb-4">
                    <label class="form-label" for="description">Descripción</label>
                    <textarea placeholder="Escribenos aquí tus consultas..." class="form-control" name="email" id="description" rows="10"></textarea>
                </div>
                <div class="mb-4">
                    <button class="btn btn-success" type="submit">Confirmar</button>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}