<!--    PROYECTO PROG WEB V_001 -->
{% extends 'joyastkg/base.html' %}
{% block contenido %}
{% load humanize %}
{% load static %}

    
<!-- barra de inicio -->
    <div class="container">
        <h2>N U E S T R A 
            <br>
            M A R C A</h2>
        <p>Joyas 'The King Great' se distingue por la calidad de sus piezas utilizando 
            solo materiales de la más alta calidad y diseñadas por expertos artesanos logrando
            verdaderas obras de arte en el mundo de la joyería. Al elegir 'The King Great' 
            obtienes piezas que combinaran y resaltaran cada atuendo que decidas usar acompañándote
            siempre gracias a nuestros estándares de calidad, ideal para quienes buscan joyería que dure 
            toda la vida.</p>
    </div>

<!-- carousel -->
<div class="container max-height d-flex align-items-center">

    <div 
        id="carouselProductos" 
        class="carousel slide" 
        data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'joyastkg/assets/banner/pexels-coppertist-wu-16124709.jpg' %}" class="d-block w-100" alt="joyas-1">
            </div>
            <div class="carousel-item">
                <img src="{% static 'joyastkg/assets/banner/pexels-grawal-7509249.jpg' %}" class="d-block w-100" alt="joyas-2">
            </div>
            <div class="carousel-item">
                <img src="{% static 'joyastkg/assets/banner/pexels-lalesh-aldarwish-147637.jpg' %}" class="d-block w-100" alt="joyas-3">
            </div>
        </div>
    </div>
</div>


<br>
    <!-- contenidos/productos -->
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img src="{% static 'joyastkg/assets/card/pexels-danik-prihodko-15759516.jpg' %}" alt="foto-joya-1" class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title"> Cadenas</h4>
                        <p class="card-text">Plata italiana 925.</p>
                        <a href="{% url 'productos' %}" class="btn stretched-link">VER MÁS</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img src="{% static 'joyastkg/assets/card/pexels-zack-jarosz-1687719.jpg' %}" alt="foto-joya-3" class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title"> Colgantes</h4>
                        <p class="card-text">El diseño que buscas.</p>
                        <a href="{% url 'productos' %}" class="btn stretched-link">VER MÁS</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img src="{% static 'joyastkg/assets/card/pexels-godisable-jacob-1191522.jpg' %}" alt="foto-joya-4" class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title"> Pendientes</h4>
                        <p class="card-text">Las mejores piezas.</p>
                        <a href="{% url 'productos' %}" class="btn stretched-link">VER MÁS</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

{% endblock %}