<!--    PROYECTO PROG WEB V_001 -->
{% extends 'joyastkg/base.html' %}
{% block contenido %}
{% load humanize %}
{% load static %}


<!-- formulario de ingreso sesion -->

<div class="container">
    <div class="center">
        <h1>Ingreso</h1>
        <form method="post" class="form" id="ingresoUsuario" onsubmit="return validarIngreso()">
            <div class="txt_field">
                <input type="text" id="usuario" name="usuario" required>
                <label for="usuario">Usuario</label>
            </div>
            <div class="txt_field">
                <input type="password" class="cuadroc" id="contraseña" name="contraseña" required>
                <label for="contraseña" class="txtco">Contraseña</label>
            </div>
            <div>
                <a href="recuperacion.html" class="olvidaste">¿Olvidaste tu contraseña?</a>
            </div>
            <button class="boton" type="submit" formaction=""> Ingresar
            </button>            
        </form>
    </div>
    
</div>

<script src="{% static 'validaciones.js' %}"></script>

<br>

{% endblock %}